body{
    display: flex;
    background-color: #aaaaaa;
    margin: 2vh;
}

h1{
    color: red;
}

.lottery_ticket{
    margin: 0 auto;
    padding: 1vw;
    text-align: center;
    width: 20vw;
    background-color: rgb(238, 253, 152);
    border: 1px solid black;
}

.i_login{
    width: 5vw;
}

.login_panel{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.balance{
    width: 50vw;
    text-align: center;
    border: 1px solid red;
}